In [1]:
# import os
# import sys
# sys.path.append(os.path.abspath('') + '/..')

# from data import ImplicitData

from flurs.data.entity import User, Item, Event
from flurs.recommender import UserKNNRecommender
import pandas as pd
import numpy as np

In [2]:
# importa dataset 'palco playlists'
data = pd.read_csv("../datasets/ml1m_gte5.csv", sep='\t')
user_col = 'UserID'
item_col = 'ItemID'
data.head()

   UserID  ItemID  Timestamp
0    6040     593  956703954
1    6040    2019  956703977
2    6040     213  956704056
3    6040    3111  956704056
4    6040     912  956704191

In [3]:
data.head()

   UserID  ItemID  Timestamp
0    6040     593  956703954
1    6040    2019  956703977
2    6040     213  956704056
3    6040    3111  956704056
4    6040     912  956704191

In [4]:
data2=data.copy()

In [5]:
def mapfun(x, unique=pd.unique( data[item_col] )):
    return np.where( unique == x )[0][0]

data2[item_col]=data2[item_col].map(mapfun)
data2[user_col]=data2[user_col].map( lambda x: mapfun( x, unique=pd.unique( data[user_col] ) ) )
data2 = data2.iloc[:, :2].values

In [35]:
knn_RS = UserKNNRecommender(k=5)
knn_RS.initialize()

In [36]:
for u, i in data2[:1000]:
    # print(u,i)
    user = User(u)
    knn_RS.register(user)

    item = Item(i)
    knn_RS.register(item)

    event = Event(user, item)
    knn_RS.update(event)

/home/klismam/.virtualenvs/dissertacao/lib/python3.6/site-packages/flurs/model/user_knn.py:80: RuntimeWarning: invalid value encountered in sqrt
  self.S[ua, idx] = self.B[ua, idx] / (np.sqrt(self.C[ua, idx]) * np.sqrt(self.D[ua, idx]))

In [37]:
knn_RS.scores2recos()

TypeError: recommend() missing 1 required positional argument: 'candidates'